@import "nav";
@import "type";
@import "container";
@import "footer";

* {
  border: 0;
}

html, body {
  margin: 0;
  background: #2d2d2d;
  color: white;
  overflow-x: hidden;
}

.center {
  text-align: center;
}